version: '3.9'
services:
  # Valtimo core

  valtimo-keycloak:
      container_name: valtimo-keycloak
      depends_on:
          - valtimo-keycloak-database
      image: quay.io/keycloak/keycloak:17.0.1-legacy
      ports:
          - "8081:8080"
      environment:
          KEYCLOAK_USER: admin
          KEYCLOAK_PASSWORD: admin
          DB_VENDOR: postgres
          DB_ADDR: valtimo-keycloak-database
          DB_USER: keycloak
          DB_PASSWORD: keycloak
      volumes:
          - ./imports/keycloak:/opt/jboss/keycloak/imports
      command:
          - "-Dkeycloak.migration.action=import"
          - "-Dkeycloak.migration.provider=singleFile"
          - "-Dkeycloak.migration.file=/opt/jboss/keycloak/imports/realm.json"
          - "-Dkeycloak.migration.strategy=IGNORE_EXISTING"
  valtimo-keycloak-database:
      image: postgres:14.1
      container_name: valtimo-keycloak-database
      ports:
          - "54329:5432"
      environment:
          POSTGRES_USER: keycloak
          POSTGRES_PASSWORD: keycloak

  valtimo-database:
      container_name: valtimo-database
      image: postgres:14.1
      ports:
          - "54320:5432"
      environment:
          POSTGRES_USER: valtimo
          POSTGRES_PASSWORD: password
          POSTGRES_DB: valtimo
      volumes:
          - valtimo-database-data:/var/lib/postgres # persist data even if container shuts down

  valtimo-database-mysql:
      container_name: valtimo-database-mysql
      image: mysql/mysql-server:8.0.28-1.2.7-server
      ports:
          - "33060:3306"
      profiles:
          - mysql
      environment:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: valtimo
          MYSQL_USER: valtimo
          MYSQL_PASSWORD: password
          MYSQL_ROOT_HOST: "%"
      command: [
          "--default-authentication-plugin=mysql_native_password",
          "--lower_case_table_names=1",
          "--collation-server=utf8mb4_unicode_ci",
          "--character-set-server=utf8mb4",
          "--explicit_defaults_for_timestamp",
          "--ssl=false",
          "--innodb_flush_method=O_DIRECT",
          "--sql_mode=NO_ENGINE_SUBSTITUTION"
      ]
      volumes:
          - valtimo-database-data-mysql:/var/lib/mysql # persist data even if container shuts down

  valtimo-rabbitmq:
      image: rabbitmq:3-management
      container_name: valtimo-rabbitmq
      volumes:
          - ./imports/valtimo-rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
          - ./imports/valtimo-rabbitmq/definitions.json:/etc/rabbitmq/definitions.json:ro
      ports:
          - "5672:5672"
          - "15672:15672"

  valtimo-backend:
      image: ritense/valtimo-backend:12.2.1
      container_name: valtimo-backend
      profiles:
          - valtimo
      environment:
          - SPRING_PROFILES_ACTIVE=docker
          - SPRING_DATASOURCE_URL=jdbc:postgresql://host.docker.internal:54320/valtimo
          - SPRING_DATASOURCE_NAME=valtimo
          - SPRING_DATASOURCE_USERNAME=valtimo
          - SPRING_DATASOURCE_PASSWORD=password
          - VALTIMO_APP_HOSTNAME=http://localhost:4200
          - VALTIMO_CONNECTORENCRYPTION_SECRET=579156b12b9a457a579156b12b9a457a
          - VALTIMO_OAUTH_PUBLIC_KEY=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAooyECQIi6v4TLKOYWwXClDhJcrGcGfKZj7LQIgY/Ajm2nAKv5kiZRoS8GzMzIGKkkilAJyWQCoKlP//azHqzIxO6WZWCqGFxd04vK5JYujsiMMTNvTggfFSM7VxbzU/wv+aAEvBaGUMYp2Oamn5szzYzkzsowujvDZp+CE8ryZWTVmA+8WZE4aoU6VzfXmMDmPxvRXvktPRsJkA7hkv65TTJwUZF38goRg62kRD0hOP1sIy6vwKDSkjafLV1bYNBRiWXNReJNBXauhy74GeiHODGrI62NwUJXSgZ62cViPt6cx/3A7VBPLpEPnpnlZcIDfsFpSUuNEXc7HoLRuldbQIDAQAB
          - KEYCLOAK_REALM=valtimo
          - KEYCLOAK_AUTH_SERVER_URL=http://host.docker.internal:8081/auth
          - KEYCLOAK_RESOURCE=valtimo-user-m2m-client
          - KEYCLOAK_CREDENTIALS_SECRET=6ef6ca16-6b86-482a-a3d9-0561704c1db9
          - VALTIMO_WEB_CORS_CORSCONFIGURATION_ALLOWEDORIGINS=http://localhost
          - VALTIMO_WEB_CORS_CORSCONFIGURATION_ALLOWEDMETHODS=*
          - VALTIMO_WEB_CORS_CORSCONFIGURATION_ALLOWEDHEADERS=*
      ports:
          - 8080:8080

  valtimo-frontend:
      image: ritense/valtimo-frontend:12.2.1
      container_name: valtimo-frontend
      profiles:
          - valtimo
      environment:
          - API_URI=http://localhost:8080/api
          - KEYCLOAK_URL=http://localhost:8081/auth
          - KEYCLOAK_REALM=valtimo
          - KEYCLOAK_CLIENT_ID=valtimo-console
          - KEYCLOAK_REDIRECT_URI=http://localhost/keycloak
          - KEYCLOAK_LOGOUT_REDIRECT_URI=http://localhost
      ports:
          - 80:8080
volumes:
  valtimo-database-data:
  valtimo-database-data-mysql:
